<html>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="bg">
        <div class="bg-text">
            <div class="w3-container">   
               <p>Lead Software Developer with 9+ years of work experience including coding, testing and integration. Extensive background of programming in C, C++, C#, ASP.NET, JavaScript, PHP,Python,Angular,Ruby on Rails and the main SQL languages. Interested in a challenging technical track career in an application development environment. Strong written and verbal communications. Strong professional with a 16 year degree focused in Computer Science. </p>        
            </div>  
        </div>
</div>
</html>
