<html>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="bg">
        <div class="bg-text">
            <div class="w3-container"> 
               <p> Key SKILLS</p>  
               <p style="font-size: 25"> C#,C++,C,.Net, PHP, Python, Ruby On Rails ,Angular,Embedded C,SQL,FPGA,RTOS</p> 
               <p> OTHER SKILLS</p>
               <p style="font-size: 25">HTML, JAVASCRIPTS, CSS, JAVA,ASP.Net, Natural language processing, MongoDB, Text Analytics , NOSQL, Apache, Cassandra, Git, WordPress</p>
               <p>TOOLS/IDE</p> 
               <p style="font-size: 25">  Visual Studio 2015,2008 and 2005,Eclipse, SQL SERVER 2005  ,MYSQL,XAMPP,WAMP ,SWI Prolog AI , MATLAB, Android Development Tool, ,MS Office (Word, Excel, Access and Power Point) , MS PROJECT,XILINX, Quartus Altera& Microsemi</p>
                           
            </div>  
        </div>
</div>
</html>
